RestFul_Project/src/schema/schema.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xs:schema xmlns="http://www.class.noaa.gov/orderaipselectionrequest"
	xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified"
	targetNamespace="http://www.class.noaa.gov/orderaipselectionrequest"
	xmlns:jaxb="http://java.sun.com/xml/ns/jaxb" xmlns:xjc="http://java.sun.com/xml/ns/jaxb/xjc">
	<xs:element name="user">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="name" type="xs:string" />
				<xs:element name="address" type="xs:string" />
				<xs:element name="dob" type="xs:date" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>


</xs:schema>